<!DOCTYPE html>
<html lang="en" ng-app="pokedex">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pokedex</title>
</head>
<body ng-controller="infoController">
    
<input type="text" ng-model="pokemon">
<button ng-click="Buscar()">Traer informacion</button> <br>

Nombre: {{nombre}} <br>
Numero: {{numero}} <br>
Orden: {{orden}} <br>
Altura: {{altura}} <br>
Foto: {{foto}} <br>


</body>
</html>
<script type="text/javascript" src="app.js"></script>